<h1 class="title animated jackInTheBox">{{ title }}</h1>

<ul class="animated flipInX" *ngIf="screenMode=='list'">
  <p class="text-center" *ngIf="todos.length == 0"><small>You don't have any tasks today!</small></p>
  <li *ngFor="let todo of todos">
    {{ todo.title }}
    <button *ngIf="!todo.done" (click)="markAsDone(todo)"><em class="far fa-check-circle"></em></button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)"><em class="fas fa-check-circle"></em></button>
    <button (click)="editTodo(todo)"><em class="far fa-edit"></em></button>
    <button (click)="deleteTodo(todo)"><em class="far fa-trash-alt"></em></button>
  </li>
</ul>

<div id="modal" *ngIf="screenMode=='add' || screenMode=='edit'" class="animated flipInX">
  <h1 class="text-center" *ngIf="screenMode=='add'">New task</h1>
  <h1 class="text-center" *ngIf="screenMode=='edit'">Edit task</h1>
  <form [formGroup]="form">
    <input type="text" *ngIf="screenMode=='add'" placeholder="Insert new task" maxlength="60" minlength="3" formControlName="title">
    <input type="text" *ngIf="screenMode=='edit'" maxlength="60" minlength="3" formControlName="title">
    <small class="danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine">
      This field must contain between 3 and 60 characters.
      <br>
    </small>
    <p class="text-center">
      <button class="button" [disabled]="form.invalid" (click)="saveTodo()">
        <em class="far fa-save"></em>
        Save
      </button>
    </p>
  </form>
</div>

<h1 class="title animated jackInTheBox">............................</h1>

<button class="add-button animated fadeInUp button" (click)="changeScreenMode('add')" *ngIf="screenMode=='list'">
  <em class="fas fa-plus-circle"></em>
  NEW TASK
</button>
<button class="add-button animated fadeInUp button" (click)="changeScreenMode('list')" *ngIf="screenMode=='add' || screenMode=='edit'">
  <em class="fas fa-times"></em>
  CANCEL
</button>